html, body
{
    font-family: roboto, arial, verdana, tahoma;
    background-color: #222;
    color: #EEE;
    padding: 0;
    margin: 0;
}
html
{
    justify-content: center;
    align-items: center;
    padding: 0 10vw;
    display: flex;
    height: 100%;
}
body
{
    text-align: center;
}