html, body
{
    font-family: roboto, arial, verdana, tahoma;
    background-color: #222;
    color: #EEE;
    padding: 0;
    margin: 0;
}
html
{
    padding: 0 10vw;
}
body
{
    margin-top: 50vh;
    text-align: center;
    font-size: 2vw;
}